.gallery{
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    list-style: none;

    margin-top: 100px;
    margin-bottom: 50px;
}

/*  */

#validation-input {
    border: 3px solid #bdbdbd;
  }
  
  #validation-input.valid {
    border-color: #4caf50;
  }
  
  #validation-input.invalid {
    border-color: #f44336;
  }

.box{
  
  margin-bottom: 40px;
}